* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div .ejercicio1 {
  padding: 2rem;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 8px;
  background-color: #18a8cc;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  
  
}
div .ejercicio1 input {
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  border: none;
  border-radius: 10px;
}

div .ejercicio1 button{
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  background-color: #ccc;
  border: none;
  border-radius: 10px;
}

div .ejercicio1 button:hover {
  background-color: #217dbb;
  color: #e0e0e0;
  transform: scale(1.07);
  box-shadow: 0 4px 16px rgba(52, 152, 219, 0.3);
}
