/*Reseteamos los valores predeterminados de la pagina*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Le damos estilo a nuestro container del ejercicio 1*/
div .ejercicio1 {
  padding: 2rem;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 8px;
  background-color: #18a8cc;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Le damos la forma a nuestro input*/
div .ejercicio1 input {
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  border: none;
  border-radius: 10px;
}
/*Le damos forma a nuestro button*/
div .ejercicio1 button{
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  background-color: #ccc;
  border: none;
  border-radius: 10px;
}
/*A nuestro button le damos un efecto hover y active*/
div .ejercicio1 button:hover {
  background-color: #217dbb;
  color: #e0e0e0;
  transform: scale(1.07);
  box-shadow: 0 4px 16px rgba(52, 152, 219, 0.3);
}
div .ejercicio1 button:active {
  background-color: #000000;
  transform: scale(0.90);
}
/*Le damos estilo a nuestro container del ejercicio 1*/
div .ejercicio2 {
  padding: 2rem;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 8px;
  background-color: #18a8cc;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Le damos la forma a nuestro input*/
div .ejercicio2 input {
  margin: 5px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  border: none;
  border-radius: 10px;
}
/*Le damos forma al button del ejercicio 2*/
div .ejercicio2 button {
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  background-color: #010101;
  color: #e0e0e0;
  border: none;
  border-radius: 10px;
}
/*A nuestro button del ejercicio 2 le damos un efecto hover y active*/
div .ejercicio2 button:hover {
  background-color: #217dbb;
  color: #e0e0e0;
  transform: scale(1.07);
  box-shadow: 0 4px 16px rgba(52, 152, 219, 0.3);
}
div .ejercicio2 button:active {
  background-color: #256029;
  transform: scale(0.90);
}
/*Le damos estilo a nuestro container del ejercicio 3*/
div .ejercicio3 {
  padding: 2rem;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 8px;
  background-color: #18a8cc;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div .tabla-aumento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 1px;
  border: 3px solid #000000;
  max-width: 400px;
  margin: 20px auto;
}
.tabla-aumento li {
  border: 1px solid #000000;
  padding: 3px 3px;
  text-align: center;
  font-size: 1.2rem;
}
/*Le damos la forma a nuestro input*/
div .ejercicio3 input {
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  border: none;
  border-radius: 10px;
}
/*Le damos forma al button del ejercicio 3*/
div .ejercicio3 button {
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  background-color: #010101;
  color: #e0e0e0;
  border: none;
  border-radius: 10px;
}
div .ejercicio3 button:hover {
  background-color: #217dbb;
  color: #e0e0e0;
  transform: scale(1.07);
  box-shadow: 0 4px 16px rgba(52, 152, 219, 0.3);
}
div .ejercicio3 button:active {
  background-color: #256029;
  transform: scale(0.90);
}
/*Le damos estilo a nuestro container del ejercicio 4*/
div .ejercicio4 {
  padding: 2rem;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 8px;
  background-color: #18a8cc;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Le damos la forma a nuestro input*/
div .ejercicio4 input {
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  border: none;
  border-radius: 10px;
}
/*Le damos forma al button del ejercicio 4*/
div .ejercicio4 button {
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  background-color: #010101;
  color: #e0e0e0;
  border: none;
  border-radius: 10px;
}
div .ejercicio4 button:hover {
  background-color: #217dbb;
  color: #e0e0e0;
  transform: scale(1.07);
  box-shadow: 0 4px 16px rgba(52, 152, 219, 0.3);
}
div .ejercicio4 button:active {
  background-color: #256029;
  transform: scale(0.90);
}
/*Le damos estilo a nuestro container del ejercicio 5*/
div .ejercicio5 {
  padding: 2rem;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 8px;
  background-color: #18a8cc;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Le damos la forma a nuestro select*/
div .ejercicio5 select {
  margin: 15px 0;
  width:  200px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  border: none;
  border-radius: 10px;
}
/*Le damos forma al button del ejercicio 5*/
div .ejercicio5 button {
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  background-color: #010101;
  color: #e0e0e0;
  border: none;
  border-radius: 10px;
}
div .ejercicio5 button:hover {
  background-color: #217dbb;
  color: #e0e0e0;
  transform: scale(1.07);
  box-shadow: 0 4px 16px rgba(52, 152, 219, 0.3);
}
div .ejercicio5 button:active {
  background-color: #256029;
  transform: scale(0.90);
}
/*Le damos estilo a nuestro container del ejercicio 6*/
div .ejercicio6 {
  padding: 2rem;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 8px;
  background-color: #18a8cc;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Le damos la forma a nuestro select*/
div .ejercicio6 select {
  margin: 10px 0;
  width:  200px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  border: none;
  border-radius: 10px;
}
/*Le damos forma al button del ejercicio 6*/
div .ejercicio6 button {
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  background-color: #010101;
  color: #e0e0e0;
  border: none;
  border-radius: 10px;
}
div .ejercicio6 button:hover {
  background-color: #217dbb;
  color: #e0e0e0;
  transform: scale(1.07);
  box-shadow: 0 4px 16px rgba(52, 152, 219, 0.3);
}
div .ejercicio6 button:active {
  background-color: #256029;
  transform: scale(0.90);
}
/*Le damos estilo a nuestro container del ejercicio 7*/
div .ejercicio7 {
  padding: 2rem;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 8px;
  background-color: #18a8cc;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Le damos la forma a nuestro input*/
div .ejercicio7 input {
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  border: none;
  border-radius: 10px;
}
/*Le damos forma al button del ejercicio 7*/
div .ejercicio7 button {
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  background-color: #010101;
  color: #e0e0e0;
  border: none;
  border-radius: 10px;
}
div .ejercicio7 button:hover {
  background-color: #217dbb;
  color: #e0e0e0;
  transform: scale(1.07);
  box-shadow: 0 4px 16px rgba(52, 152, 219, 0.3);
}
div .ejercicio7 button:active {
  background-color: #256029;
  transform: scale(0.90);
}
/*Le damos estilo a nuestro container del ejercicio 8*/
div .ejercicio8 {
  padding: 2rem;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 8px;
  background-color: #18a8cc;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Le damos la forma a nuestro input*/
div .ejercicio8 input {
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  border: none;
  border-radius: 10px;
}
/*Le damos forma al button del ejercicio 8*/
div .ejercicio8 button {
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  background-color: #010101;
  color: #e0e0e0;
  border: none;
  border-radius: 10px;
}
div .ejercicio8 button:hover {
  background-color: #217dbb;
  color: #e0e0e0;
  transform: scale(1.07);
  box-shadow: 0 4px 16px rgba(52, 152, 219, 0.3);
}
div .ejercicio8 button:active {
  background-color: #256029;
  transform: scale(0.90);
}
/*Le damos estilo a nuestro container del ejercicio 9*/
div .ejercicio9 {
  padding: 2rem;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 8px;
  background-color: #18a8cc;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Le damos la forma a nuestro input*/
div .ejercicio9 input {
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  border: none;
  border-radius: 10px;
}
/*Le damos forma al button del ejercicio 9*/
div .ejercicio9 button {
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  background-color: #010101;
  color: #e0e0e0;
  border: none;
  border-radius: 10px;
}
div .ejercicio9 button:hover {
  background-color: #217dbb;
  color: #e0e0e0;
  transform: scale(1.07);
  box-shadow: 0 4px 16px rgba(52, 152, 219, 0.3);
}
div .ejercicio9 button:active {
  background-color: #256029;
  transform: scale(0.90);
}
/*Le damos estilo a nuestro container del ejercicio 10*/
div .ejercicio10 {
  padding: 2rem;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 8px;
  background-color: #18a8cc;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Le damos la forma a nuestro input*/
div .ejercicio10 input {
  margin: 10px 0;
  width:  300px;
  height: 40px;
  font-size: 1rem;
  padding: 8px 8px;
  text-align: center;
  border: none;
  border-radius: 10px;
}